.Header {
  margin: 0 auto;
  max-width: 1048px;
}

.Header nav {
  display:flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
}

.Header nav a {
  color:black;
  display: inline-block;
  padding: 5px 15px;
  text-decoration: none;
}